<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Math Results</title>
</head>

<body>
    
<span>
    <h1><%= left %>
    <%= operator %>
    <%= right %>
    =
    <%= result %></h1>
</span>
    
</body>
</html>
