<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Project 2 | Addresses</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="project2.js"></script>
</head>

<body class="bg-secondary">

    

    <div class="container" id="wrapper">
    <main id="content">
        
        <div id="address-output">


        </div>
        
        <div>
            <button class="btn btn-light" style="margin: 0.5em;" onclick="loadAddAdresses()">Add Addresses</button>

            <a href="/project2" class="project-button centered-button">Go Back</a>
        </div>
        
    </main>

    </div>

    <script>
        var customerId = '<%= id %>'

        getAddresses(customerId);
    </script>

<!--<script src="project2.js"></script>-->
</body>
</html>