<!DOCTYPE html>
<html>
<head>
  <title>CSE-341 NODE | Home | Lava84flow</title>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>

  <div id="wrapper">

<main>
  
  

  <h3>Week 09</h3>
  <a href='/postalrate'>Postal Rate Calculator</a>

  <h3>Week 10</h3>
  <a href='/customers.html'>Milestone 1</a>

  <h3>Week 11</h3>
  <a href='/milestone2.html'>Milestone 2</a>

</main>

</div>

</body>
</html>
