<!DOCTYPE html>
<html>
<head>
  <title>CSE-341 NODE | Home | Lava84flow</title>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>

<main>
  Blargh
</main>

</body>
</html>
