<!DOCTYPE html>
<html>
<head>
  <title>CSE-341 NODE | Postal Rate Results | Lava84flow</title>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <%- include ("../partials/nav.ejs") %>

<main>

    <h1>Your package price is : $<%= price %></h1>

    <div style='color: red;'><%= /*error*/ %></div>

    <a href="/postalrate">Go Back</a>

</main>

</body>
</html>
