<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Project 2 | Password Reset</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body class="bg-secondary">

    

    <div class="container" id="wrapper">
    <main id="content">

        <h2>Reset Password</h2>
        <p>Please fill out this form to reset your password.</p>

        <div class="form-group has-error">
            <label>New Password</label>
            <input type="password" name="new_password" class="form-control" id="new_password">
            <span class="help-block" id="new_password_err"></span>
        </div>    
        <div class="form-group has-error">
            <label>Confirm Password</label>
            <input type="password" name="confirm_password" class="form-control" id="confirm_password">
            <span class="help-block" id="confirm_password_err"></span>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" style="margin-top: 0.25em;" onclick="validateResetPassword()">Submit</button>
            <a class="btn btn-primary" style="margin-top: 0.25em;" href="/project2">Cancel</a>
        </div>

        <div id="status"></div>
    </main>

    </div>

    <script src="project2.js"></script>

</body>
</html>